*{
    padding: 0;
    margin: 0;
}
body{
    /* background-color: blue; */
    background: url(/imges/love-g0828ddccf_1920.jpg)no-repeat center center/cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(231 198 165 / 24%);
    margin: 110px 80px;
}
.left img{
    height: 350px;
    width: 350px;
    border-radius: 200px;
    margin-right: 200px;
}
.right{
    text-align: center;
    /* border: 2px solid black; */
    width: 400px;  
    height: 400px;
    /* margin-left: 40px; */
}
.head h3{
    font-size: 30px;
    padding: 30px;
}
.bt{
    padding: 30px;
}
.btn{
    width:60%;
    padding: 5px 20px;
    border-radius: 15px;
    font-size: 20px;
    border: none;
}
.con input{
    padding: 5px 10px;
    width: 280px;
    border-radius: 15px;
    font-size: 18px;
    background-color: rgb(247, 223, 223);
    color: white;
    border: none;
}
.btn:hover{
    background-color: red;
    cursor: pointer;
}
.hhg{
    display: flex;
    padding: 5px;
    width:100%;
}
.leb{
    width: 40%;
}
.bt a{
    text-decoration: none;
    font-size: 18px;
    color: brown;
    font-weight: 800;
}
